.navbar {
  background-color: #1f6ea3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar-links-left {
  transform: translateX(-75%);
}

.navbar-title {
  font-size: 1.5rem;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(-130%);
}

.navbar-logo {
  width: 40px; 
  height: 40px;
  transform: translateY(9px);
}

.navbar-links {
  display: flex;
}

.navbar-link {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-link:hover {
  color: #666;
}

.profile-icon {
  width: 34px; 
  height: 34px;
  transform: translateY(9px);
}

